<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewData["Title"]</title>
</head>

<body>

    <div id="header">
        @Html.Partial("~/Views/Shared/_Header.cshtml")
    </div>

    <div id="content">
        @RenderBody()
    </div>

    <div id="footer">
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
    </div>

</body>

</html>